/* ===== Keybinds buttons ===== */
.keybinds-container {
    margin-top: 1rem;
}

.keybind-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #588abf;
    color: white;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
    cursor: pointer;

    padding: 0.4rem;

    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
}

.keybind-item:hover {
  background-color: #3a6ca5;
}

.keybind-item.editing {
    background-color: #f7b32b;
    color: #1a1a1a;
}

.keybind-item:focus {
    outline: none;
}

/* ===== Title ===== */
.guide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.guide-description {
    font-size: 0.875rem;
    color: #e5f1ea;
    line-height: 1.2;
}

/* ===== Reset Button (Red) ===== */
.keybind-edit-btn.reset-btn {
    background-color: #cf4444;
    color: white;
    border: none;
    border-radius: 0.3rem;

    font-size: 0.9rem;
    font-family: inherit;
    font-weight: 600;

    padding: 0.4rem 0.75rem;
    
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.keybind-edit-btn.reset-btn:hover {
    background-color: #a83737;
}
